:root {
  --content-padding-desktop: 20px;
  --content-width-desktop: ~"calc(@{desktop-width} - var(--content-padding-desktop) * 2)";
  --header-padding: 60px;
}

@desktop-width: 1200px;

@font-family-base: "Open Sans", Arial, sans-serif;
@font-family-secondary: Gilroy, Arial, sans-serif;

@font-size-base: 15px;
@line-height-base: 20px;

@color-black: #000000;
@color-green-light: #91c92f;
@color-gray-lighten: #dcdcdc;
@color-grey-light: #e5e5e5;
@color-gray: #f2f2f2;
@color-gray-dark: #363636;
@color-red-light: #f6dada;
@color-white: #ffffff;
@color-yellow: #f7e296;
@color-yellow-dark: #f0c52e;

@font-color-base: @color-black;

@bg-color-body: @color-white;
