.page-main__slider-promo {
  margin-bottom: 70px;
}

.page-main__popular {
  margin-bottom: 50px;
}

.page-main__services {
  margin-bottom: 90px;
  padding-top: 15px;
  padding-bottom: 67px;
  background-image: linear-gradient(180deg, @color-white 115px, @color-grey-light 115px);
}

.page-main__brands {
  margin-bottom: 90px;
}

.page-main__company {
  display: grid;
  grid-template-columns: 500px 560px;
  column-gap: 100px;
  margin-bottom: 56px;
}

.page-main__header {
  margin-bottom: 35px;
  padding: 14px 60px;
}

.page-main__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: @font-family-secondary;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
}

.page-main__catalog-wrapper {
  overflow: hidden;
}

.page-main__modal {
  margin: 0 auto 70px;
}
